<%@ Master Language="C#" Inherits="System.Web.Mvc.ViewMasterPage" %>

<%@ Import Namespace="System.Web.Mvc" %>
<%@ Import Namespace="System.Web.Mvc.Ajax" %>
<%@ Import Namespace="System.Web.Mvc.Html" %>
<%@ Import Namespace="System.Web.Optimization" %>
<%@ Import Namespace="System.Web.Routing" %>

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My ASP.NET Application</title>

    <asp:PlaceHolder runat="server">
        <%: Styles.Render("~/Content/css") %>
        <%: Scripts.Render("~/bundles/modernizr") %>
    </asp:PlaceHolder>
</head>
<body>
    <asp:ContentPlaceHolder runat="server" ID="Nav">
        <% Html.RenderAction("Menu", "Menu"); %>
    </asp:ContentPlaceHolder>

    <div class="container body-content">
        <asp:ContentPlaceHolder runat="server" ID="MainContent">
        </asp:ContentPlaceHolder>

        <hr />
        <footer>
            <p>&copy; <%= DateTime.Now.Year %> - My ASP.NET Application</p>
        </footer>
    </div>

    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/bundles/jquery") %>
        <%: Scripts.Render("~/bundles/bootstrap") %>
        <%--<% RenderSection("scripts", required: false); %>--%>
    </asp:PlaceHolder>
</body>
</html>
